body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px; 
}
span{
    color: orange;
}

section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 50%;
    
}
.hire-button{
    text-decoration: none;
    color: white;
    font-weight: ;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 50px;
    background-image: linear-gradient(orange, orangered);
}